token.json
__pycache__/fat_secret_api_auth_info.cpython-311.pyc
fat_secret_api_auth_info.py
fat_secret.py
__pycache__/app.cpython-311.pyc
__pycache__/fat_secret.cpython-311.pyc
__pycache__/food.cpython-311.pyc
__pycache__/meal.cpython-311.pyc
notes
venv/bin/activate.csh
venv/bin/activate.fish
/venv
