h1 {
    font-family: Arial, sans-serif;
    color: ghostwhite;
    background-color: rgb(43, 123, 202);
}
.meals-h2 {
    color: rgb(81, 120, 160);
    font-size: 165%;
}
body {
    font-family: Arial, sans-serif;
    background-color: ghostwhite;
    
}
.macros, .meals, .actions, h2 {
    color: dodgerblue;
}
ul {
    list-style-type: none;
}
.macro-container {
    background-color: rgb(210, 218, 229);
    color: rgb(28, 47, 47);
    margin: 20px;
    padding: 10px;
    width: 20%;
    border-radius: 3px;   
}
.macro-container h2 {
    color: rgb(68, 96, 124);
}
.meals, .actions, .results {
    background-color: rgb(197, 209, 226);
    color: darkslategrey;
    margin: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;   
}
.meal {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.meal h3{
    color: dodgerblue;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    background-color: #3a86d8;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
}
.button:hover {
    background-color: #5ea0e5;
}
.delete_button {
    display: inline-block;
    padding: 10px 14px;
    margin: 5px;
    color: #fff;
    background-color: #00bbff;
    border-color: whitesmoke;
    border: 2px solid;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: min-content;
    height: min-content;
}
.delete_button:hover {
    background-color: #00bbcf;
}

.meal-select {
    border-radius: 10px;

}
.add-food-buttons {
    display: inline-flex;
}
/* new */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(197, 209, 226);
    width: 30%;
    display: inline-flex;
    margin: 10px;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 16px 24px 0 rgba(131, 130, 130, 0.8);
  }
  /* Add some padding inside the card container */
  .container {
    padding: 5px 16px;
    border-color: rgb(214, 214, 214);
    margin: 10px;
    color: rgb(63, 63, 63);
  }
  .meal-cards h2 {
    color: ghostwhite;
   
  }