<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="actions">
        <h1>Manual Food Submission</h1>
        <form action="{{ url_for('add_food') }}" method="post">
            <label for="meal-select">Choose a meal:</label>
            <select id="meal-select" name="meal_name">
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snacks">Snack</option>
            </select>
            <label for="food_name">Food Name:</label>
            <input type="text" id="food_name" name="food_name" required><br>
            <label for="serving_size">Serving size:</label>
            <input type="text" id="serving_size" name="serving_size" required><br>
            <label for="protein">Protein (g):</label>
            <input type="number" id="protein" name="protein" required><br>
            <label for="carbs">Carbs (g):</label>
            <input type="number" id="carbs" name="carbs" required><br>
            <label for="fats">Fats (g):</label>
            <input type="number" id="fats" name="fats" required><br>
            <button id="submit-food" type="submit" class="button">Add Food</button>
        </form>
    </div>
    <footer>
        <a href="{{ url_for('index') }}" class="button">Go home</a>
    </footer>
    <script src="../static/js/macroTracker.js"></script>
</body>

</html>