<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big 3 Calorie and Macro Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="../static/images/appleicon.png">
</head>

<body>
    <header>
        <h1 id="index-header">Big 3 Calorie and Macro tracker</h1>
    </header>
    <main>
        <section>
            <div class="macro-container" id="daily-macros">
                <h2>Daily Macros</h2>
                <p id=daily-protein>Protein: 0 g</p>
                <p id=daily-carbs>Carbs: 0 g</p>
                <p id=daily-fat>Fat: 0 g</p>
                <p id=daily-calories>Calories: 0 kcal</p>
            </div>
            <nav>
                <a href="{{ url_for('search_food') }}">
                    <button>Search Foood</button>
                </a>
                <a href="{{ url_for('add_food') }}">
                    <button>Manual Entry</button>
                </a>
                <a href="{{ url_for('show_meals') }}">
                    <button>Logged foods</button>
                </a>
            </nav>
        </section>

        <div class="meal-cards">
            <h2 class="meals-h2">Meals</h2>
            <div class="card">
                <div class="container" id="breakfast-container">
                    <h3>Breakfast</h3>
                    <p id=breakfast-protein>Protein: 0 g</p>
                    <p id=breakfast-carbs>Carbs: 0 g</p>
                    <p id=breakfast-fat>Fat: 0 g</p>
                    <p id=breakfast-calories>Calories: 0 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="container" id="lunch-container">
                    <h3>Lunch</h3>
                    <p id=lunch-protein>Protein: 0 g</p>
                    <p id=lunch-carbs>Carbs: 0 g</p>
                    <p id=lunch-fat>Fat: 0 g</p>
                    <p id=lunch-calories>Calories: 0 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="container" id="dinner-container">
                    <h3>Dinner</h3>
                    <p id=dinner-protein>Protein: 0 g</p>
                    <p id=dinner-carbs>Carbs: 0 g</p>
                    <p id=dinner-fat>Fat: 0 g</p>
                    <p id=dinner-calories>Calories: 0 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="container" id="snacks-container">
                    <h3>Snacks</h3>
                    <p id=snacks-protein>Protein: 0 g</p>
                    <p id=snacks-carbs>Carbs: 0 g</p>
                    <p id=snacks-fat>Fat: 0 g</p>
                    <p id=snacks-calories>Calories: 0 kcal</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://www.fatsecret.com">
            <img src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png" srcset="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png
         2x, https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x" border="0" />
        </a>
    </footer>
    <script src="../static/js/macroTracker.js"></script>
</body>

</html>