<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View Meals</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <main>
        <h1>Meals and Foods</h1>
        <div class="card" id="meals-foods-list">
            <div class="container" id="breakfast-container">
                <p>Breakfast</p>
                <ul id = 'breakfast-foods'>

                </ul>
            </div>
        </div>
        <div class="card">
            <div class="container" id="lunch-container">
                <p>Lunch</p>
                <ul id = 'lunch-foods'>

                </ul>
            </div>
        </div>
        <div class="card">
            <div class="container" id="dinner-container">
                <p>Dinner</p>
                <ul id = 'dinner-foods'>

                </ul>
            </div>
        </div>
        <div class="card">
            <div class="container" id="snacks-container">
                <p>Snacks</p>
                <ul id = 'snack-foods'>

                </ul>
            </div>
        </div>
        
    </main>
    <footer>
        <a href="{{ url_for('index') }}" class="button">Go home</a>
    </footer>
    <script src="../static/js/macroTracker.js"></script>
</body>

</html>